extends layout.pug
block content
    link(rel="stylesheet", href="/stylesheets/games.css")
    h1#games-heading All of Our Games
    div#game-container
        each game in games
            div.game-card
                h2.game-name.game-content=game.gameName
                p.game-release.game-content Released: #{game.releaseYear}
                p.game-rating.game-content Average Rating: #{game.avgRating}
                
                a.game-info.game-content(href=`/games/${game.id}`) View Game 