extends layout.pug
block content
    h1 All of Our Games
    each game in games
        h2=game.gameName
        p=game.releaseYear
        p=game.avgRating
        a(href=`/games/${game.id}`) View Game 