html
    header
        title Mod 4 Game DB
        link(rel="stylesheet", href="/stylesheets/main.css")
    body
        div.test#div1
            nav
                a(href="/games") All games
        block content